body {
    margin: 0;
    background-color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e0a000;
}

.dailymotion-video-wrapper, .jw-video-wrapper {
    max-width: 40%;
}

.header {
    background-color: #202020;
    color: #a0a0a0;
    display: flex;
    align-items: center;
    height: 30px;
}

.hidden {
    display: none;
}

#v1 {
    width: 100%;
    max-height: calc(100vh - 30px);
}

#title {
    margin: 0 20px 0 10px;
    font-weight: bold;
}

#position {
    margin: 0 10px 0 40px;
    color: white;
    flex-grow: 1;
    text-align: right;
}

#videoCustom {
    background-color: lightgray;
    border: 1px solid black;
}

.optionsbox {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.optionsbox.fixed {
    position: fixed;
    z-index: 100;
    margin: 10px;
    border: 1px solid #00000080;
    background-color: #ffffff80;
    color: black;
}

.optionsbox.inline {
    margin: 0 20px 0 20px;
}

.known-issues {
    background-color: #ffd576b8;
    border: 2px solid #ffc217;
    border-radius: 10px;
    margin: 50px;
    padding: 10px 50px 10px 50px;
    color: #000000;
}

.optionsbox table {
    border-collapse: collapse;
    width: 100%;
}

.optionsbox td {
    border: none;
    padding: 2px 5px;
    white-space: pre;
    vertical-align: middle;
}

.optionsbox td.key {
    width: 50px;
}

.optionsbox table {
    border-collapse: collapse;
    width: 100%;
}

.optionsbox td {
    border: none;
    padding: 2px 5px;
    white-space: pre;
    vertical-align: middle;
}

.optionsbox td.key {
    width: 50px;
}

.radiobox {
    float: left;
    clear: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.radiobox input[type=radio],
.radiobox input.radio {
    float: left;
    clear: none;
    margin: 4px 5px 0 0;
}

.radiobox label {
    float: left;
    clear: none;
    display: block;
    padding: 2px 12px 2px 0;
    line-height: normal;
    font-weight: normal;
    margin: 0;
}

#video_container {
    position: absolute;
    display: inline;
}

#next_video {
    position: absolute;
    z-index: 111;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
}
#skip_ad {
    position: absolute;
    border:1mm ridge #e0a000;
    background: #1a1a1a;
    z-index: 111;
    right: 0;
    top: 0;
    font-size: 1.3rem;
    cursor: pointer;
}
#my_video_id, #my_ad_id {
    width: 600px;
}
